>*(On .+? wrote:<\/p>.+)
([\n\r]*Von meinem iPhone gesendet<\/(?:div|p)>.+)
([\n\r]*Von meinem iPad gesendet<\/(?:div|p)>.+)
>*(____.+)
>*(----.+)
>*(Von: .+?<\/p>.+?Gesendet:<\/p>.+)
(<br>\s+Von: .+? \(JIRA\) \[mailto:jira-repl.+)
(________________________________________<br>\s+From.+)
